  <!-- Horizontal Form --> 

    <section class="content-header">
        <h1>
            Voluntário
        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-1">
                <img src="/images/voluntarios/{{voluntario.id}}.jpg?{{random}}" alt="Foto" height="100" width="100">
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div id="main" class="box box-warning">

                    <!-- formulario -->
                    <!-- <div class="form-group col-md-6"> :::CLASSE DETERMINA TAMANHO DO CAMPO 'TEXT',  MAXIMO 12, 6= METADE DA TELA -->
                    <form action="">
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <p><strong>Nome:</strong></p>
                                    <p>{{voluntario.nome}}</p>
                                </div>



                                <div class="col-md-4">
                                    <p><strong>CPF:</strong></p>
                                    <p>{{voluntario.cpf | brCpf}}</p>
                                </div>



                                <div class="col-md-4">
                                    <p><strong>Email:</strong></p>
                                    <p>{{voluntario.email}}</p>
                                </div>



                                <div class="col-md-4">
                                    <p><strong>Telefone:</strong></p>
                                    <p>{{voluntario.telefone | brPhoneNumber}}&nbsp;</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Celular:</strong></p>
                                    <p>{{voluntario.celular | brPhoneNumber}}&nbsp;</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Função:</strong></p>
                                    <p>{{voluntario.funcao}}&nbsp;</p>
                                </div>



                                <div class="col-md-4">
                                    <p><strong>Data Nascimento:</strong></p>
                                    <p>{{voluntario.dataNascimento | date :'dd/MM/yyyy'}}</p>

                                </div>




                                <div class="col-md-4">
                                    <p><strong>CEP:</strong></p>
                                    <p>{{voluntario.endereco.cep | brCep}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Rua,Avenida:</strong></p>
                                    <p>{{voluntario.endereco.logradouro}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Número:</strong></p>
                                    <p>{{voluntario.endereco.numero}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Complemento:</strong></p>
                                    <p>{{voluntario.endereco.complemento}}&nbsp;</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Bairro:</strong></p>
                                    <p>{{voluntario.endereco.bairro}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Cidade:</strong></p>
                                    <p>{{voluntario.endereco.cidade}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>UF:</strong></p>
                                    <p>{{voluntario.endereco.estado}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Data Inicio:</strong></p>
                                    <p>{{voluntario.dataDeCadastro | date :'dd/MM/yyyy'}}</p>

                                </div>

                                <div class="col-md-4">
                                    <p><strong>Data do Curso:</strong></p>
                                    <p>{{voluntario.dataCurso | date :'dd/MM/yyyy'}}</p>

                                </div>

                                <div class="col-md-8">
                                    <p><strong>Dia da Semana:</strong></p>
                                    <p>
                                        <dl class="dl-horizontal">
                                            <dd>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.domingo" disabled><span>Domingo</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.segundaFeira" disabled><span>Segunda</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.tercaFeira" disabled><span>Terça</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.quartaFeira" disabled><span>Quarta</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.quintaFeira" disabled><span>Quinta</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.sextaFeira" disabled><span>Sexta</span></label>
                                                <label class="ui-checkbox"><input type="checkbox" ng-model="voluntario.sabado" disabled><span>Sabado</span></label>
                                            </dd>
                                        </dl>
                                    </p>
                                </div>



                            </div>

                        </div>

                        <div class="box-footer">
                            <a href="" go-back class="btn btn-primary">voltar</a>
                            <a class='btn btn-danger' href="" > Gerar PDF</a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
