



<div id="top" class="content-header">
    <div class="col-sm-3">
        <h3 class="box-title">Lista de Voluntários</h3>
    </div>

    <div class="col-sm-6">

        <form ng-submit="pesquisar()">
            <div class="input-group h2">
                <input type="text" ng-model="valorPesquisa" name="pesquisar" class="form-control" id="exampleInputName2" placeholder="Pesquisar Voluntário">

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" >
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a href="/Voluntario/Criar" class="btn btn-primary pull-right h2">Novo Voluntário</a>
        </div>
    </div>
</div>

<div id="list" class="row">


    <section class="content body">

        <div class="row">
            <div class="col-lg-12">
                <div class="box-body">
                    
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>

                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Celular</th>
                                <th>Data de cadastro</th>

                                <th class="actions">Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            <tr ng-repeat="v in voluntarios">
                                <td>{{v.nome}}</td>
                                <td>{{v.email}}</td>
                                <td>{{v.telefone | brPhoneNumber}}</td>
                                <td>{{v.celular | brPhoneNumber}}</td>
                                <td>{{v.dataDeCadastro | date :'dd/MM/yyyy'}}</td>
                                <td class='actions'>

                                    <a class='btn btn-success btn-xs' href='/Voluntario/Visualizar/{{v.id}}'>Visualizar</a>
                                    <a class='btn btn-warning btn-xs' href='/Voluntario/Editar/{{v.id}}'>Editar</a>
                                    <a class='btn btn-danger btn-xs' href='' ng-click="delete(v)">Excluir</a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>


                    <div class="col-lg-12">
                        
                            <button type="button" class="btn btn-success pull-right h2">Importar para Excel</button>
                        
                    </div>


                    <nav class="text-center">

                        <ul uib-pagination boundary-links="true"  ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    </nav>

                    

                </div>
            </div>


        </div>
        </section>

</div>
