

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning" ng-show="semAgendamento">{{semAgendamento}} </span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">{{semAgendamento}} voluntário(s) sem sem agendamento e com o curso atrasado</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                <li ng-repeat="v in voluntarios">
                    <a href="/Voluntario/Curso/{{v.id}}">
                        <i class="fa fa-users text-aqua"></i> {{v.nome}} - {{v.diasEmAtraso}} dias em atrasado
                    </a>
                </li>
            </ul>
        </li>
        
    </ul>
