<section class="content-header">
    <h1>
        Cadastrar Doador Pessoa Física
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div id="main" class="box box-warning">

                <!-- formulario -->                
                <form method='post' ng-submit="salvar()" name="form">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" ng-model="doador.nomeRazaoSocial" name='nome' id="nome" required placeholder="Digite o Nome do Voluntário">
                            </div>
                            <div class="col-xs-6">
                                <!--  -->
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" ng-model="doador.cpfCnpj " name='cpf' id="cpf" required ui-br-cpf-mask>
                                <lista-erro lista="erros.Cpf"></lista-erro>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-xs-6">

                                <label for="email">Email</label>
                                <input type="email" class="form-control" ng-model="doador.email" name='email' id="email" placeholder="email@exemplo.com" required title="email@exemplo.com">
                                <lista-erro lista="erros.Email"></lista-erro>
                            </div>


                            


                            <div class="col-xs-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" ng-model="doador.telefone" name='telefone' id="telefone" ui-br-phone-number-fixo>
                            </div>

                            <div class="col-xs-3">
                                <label for="celular">Celular</label>
                                <input type="text" class="form-control" name='celular' ng-model="doador.celular" id="celular" ui-br-phone-number>
                            </div>


                        </div>

                       



                        <div class="row">
                            <div class="col-xs-6">
                                <label for="cep">Cep {{msgErro}}</label>
                                <input id="cep" name="cep" type="text" ng-model="doador.endereco.cep" placeholder="Digite o CEP" class="form-control" required ui-br-cep-mask ng-blur="buscaCep()">
                            </div>

                            <div class="col-xs-6">
                                <label for="logradouro">Rua, Avenida:</label>
                                <input type="text" class="form-control" name='logradouro' ng-model="doador.endereco.logradouro" id="logradouro">
                            </div>


                        </div>



                        <div class="row">

                            <div class="col-xs-6">
                                <label for="numero">Numero</label>
                                <input type="text" class="form-control" name='numero' ng-model="doador.endereco.numero" required id="numero">
                            </div>

                            <div class="col-xs-6">
                                <label for="complemento">Complemento</label>
                                <input type="text" class="form-control" name='complemento' ng-model="doador.endereco.complemento" id="complemento">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <label for="bairro">Bairro</label>
                                <input type="text" class="form-control" name='bairro' ng-model="doador.endereco.bairro" required id="bairro">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="cidade">Cidade</label>
                                <input type="text" class="form-control" name='cidade' ng-model="doador.endereco.cidade" required id="cidade">
                            </div>

                        </div>

                        <div class="row">


                            <div class="form-group col-md-6">
                                <label for="uf">UF</label>
                                <select class="form-control" ng-model="doador.endereco.estado">
                                    <option ng-repeat="(key, value) in ufs" value="{{key}}">{{value}}</option>
                                </select>
                            </div>
                                                        
                        </div>



                        <div class="row">




                            <div class="col-xs-3">
                            </div>



                        </div>


                    </div>



                    <div class="box-footer">
                        <a href="/Doador" class="btn btn-primary">Voltar</a>
                        <button type="reset" class="btn btn-default">Limpar Campos</button>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="!form.$valid">Salvar</button>
                    </div>


                </form>



            </div>
        </div>
    </div>
</section>