  <!-- Horizontal Form -->
<section class="content-header">
    <h1>
        Interessado
    </h1>

</section>
<section class="content">
    
    <div class="row">
        <div class="col-md-11">
            <div id="main" class="box box-warning">

                <!-- formulario -->
                <!-- <div class="form-group col-md-6"> :::CLASSE DETERMINA TAMANHO DO CAMPO 'TEXT',  MAXIMO 12, 6= METADE DA TELA -->
                <form action="">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Nome:</strong></p>
                                <p>{{interessado.nome}}</p>
                            </div>
                                                       

                            <div class="col-md-4">
                                <p><strong>Email:</strong></p>
                                <p>{{interessado.email}}&nbsp;</p>
                            </div>



                            <div class="col-md-4">
                                <p><strong>Telefone:</strong></p>
                                <p>{{interessado.telefone | brPhoneNumber}}&nbsp;</p>
                            </div>

                            <div class="col-md-4">
                                <p><strong>Celular:</strong></p>
                                <p>{{interessado.celular | brPhoneNumber}}&nbsp;</p>
                            </div>



                            



                        </div>

                    </div>

                    <div class="box-footer">
                        <a href="/Interessado" class="btn btn-primary">voltar</a>
                        <a class='btn btn-danger' href=""> Gerar PDF</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>