  <!-- Horizontal Form -->
<section class="content-header">
    <h1>
        Favorecido
    </h1>

</section>
<section class="content">
    
    <div class="row">
        <div class="col-md-11">
            <div id="main" class="box box-warning">

                <!-- formulario -->
                <!-- <div class="form-group col-md-6"> :::CLASSE DETERMINA TAMANHO DO CAMPO 'TEXT',  MAXIMO 12, 6= METADE DA TELA -->
                <form action="">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Nome:</strong></p>
                                <p>{{favorecido.nome}}</p>
                            </div>

                            
                                <div class="col-md-4">
                                    <p><strong>Apelido:</strong></p>
                                    <p>{{favorecido.apelido}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Data Nascimento:</strong></p>
                                    <p>{{favorecido.dataNascimento | date :'dd/MM/yyyy'}}</p>

                                </div>

                                <div class="col-md-4">
                                    <p><strong>CPF:</strong></p>
                                    <p>{{favorecido.cpf | brCpf}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>RG:</strong></p>
                                    <p>{{favorecido.rg}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Sexo:</strong></p>
                                    <p>{{favorecido.sexo}}</p>
                                </div>

                                <div class="col-md-12">
                                    <p><strong>Conhecimento Proficionais:</strong></p>
                                    <ul class="list-inline">
                                        <li ng-repeat="c in favorecido.conhecimentosProfissionais">{{c.text}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Familia:</strong></p>
                                    <p>{{favorecido.nomeFamilia}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Email:</strong></p>
                                    <p>{{favorecido.email}}</p>
                                </div>



                                <div class="col-md-4">
                                    <p><strong>Telefone:</strong></p>
                                    <p>{{favorecido.telefone | brPhoneNumber}}&nbsp;</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Celular:</strong></p>
                                    <p>{{favorecido.celular | brPhoneNumber}}&nbsp;</p>
                                </div>



                                




                                <div class="col-md-4">
                                    <p><strong>CEP:</strong></p>
                                    <p>{{favorecido.cep | brCep}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Rua,Avenida:</strong></p>
                                    <p>{{favorecido.logradouro}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Número:</strong></p>
                                    <p>{{favorecido.numero}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Complemento:</strong></p>
                                    <p>{{favorecido.complemento}}&nbsp;</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Bairro:</strong></p>
                                    <p>{{favorecido.bairro}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>Cidade:</strong></p>
                                    <p>{{favorecido.cidade}}</p>
                                </div>


                                <div class="col-md-4">
                                    <p><strong>UF:</strong></p>
                                    <p>{{favorecido.estado}}</p>
                                </div>

                                <div class="col-md-4">
                                    <p><strong>Data Inicio:</strong></p>
                                    <p>{{favorecido.dataDeCadastro | date :'dd/MM/yyyy'}}</p>

                                </div>

                            



                            </div>

                    </div>

                    <div class="box-footer">
                        <a href="/Favorecido" class="btn btn-primary">voltar</a>
                        <a class='btn btn-danger' href=""> Gerar PDF</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>