  <!-- Horizontal Form -->
<section class="content-header">
    <h1>
        Modelo de Receita
    </h1>

</section>
<section class="content">
    
    <div class="row">
        <div class="col-md-11">
            <div id="main" class="box box-warning">

                <!-- formulario -->
                
                <form action="">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Nome:</strong></p>
                                <p>{{modelo.nome}}</p>
                            </div>
                                                       

                            <div class="col-md-4">
                                <p><strong>Descrição:</strong></p>
                                <p>{{modelo.descricao}}&nbsp;</p>
                            </div>



                            <div class="col-md-6">
                                <p><strong>Itens:</strong></p>
                                <p ng-repeat="im in modelo.itens">{{im.item.nome}} - {{im.quantidade | number :2}}({{unidadesDeMedida[im.item.unidadeDeMedida]}})</p>
                            </div>

                            


                            



                        </div>

                    </div>

                    <div class="box-footer">
                        <a href="" go-back class="btn btn-primary">voltar</a>
                        <a class='btn btn-danger' href=""> Gerar PDF</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>