<div pdf-a4 nome-do-arquivo="'ResultadoGeral'">
    <section class="content-header">
        <h1>
            Resultados Gerais
        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div id="main" class="box box-warning">



                    <div class="box-body">

                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <label>Início da consulta</label>
                                <input type="date" ng-model="start" class="form-control " />
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <label>Fim da consulta</label>
                                <input type="date" ng-model="end" class="form-control " />
                            </div>



                        </div>
                    </div>


                    <div class="box-footer fora-do-pfd">
                        <button type="button" ng-click="consultar()" ng-disabled="end==null || start == null" class="btn btn-primary">Visualizar</button>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div id="main" class="box box-warning">

                    <!-- formulario -->
                    <div class="box-body">

                        <uib-tabset>
                            <uib-tab index="0" heading="Benefícios Gerais">
                                <div class="row">
                                    <div class="col-md-12">
                                            <a class='btn btn-danger pull-right' target="_blank" href="/ResultadosGerais/Beneficios/{{start | date :'dd-MM-yyyy'}}/{{end  | date :'dd-MM-yyyy'}}" ng-show="resultado!=null">Gerar PDF</a>
                                        
                                    </div>
                                </div>
                                <table class="table table-striped" cellspacing="0" cellpadding="0" ng-show="resultado!=null">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantidade</th>



                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr ng-repeat="i in resultado.itens">
                                            <th>{{i.item }}</th>
                                            <th>{{i.quantidade | number:0 }} ({{unidadesDeMedida[i.unidadeDeMedida]}})</th>


                                        </tr>

                                        <tr>
                                            <th>LITROS DE SOPA </th>
                                            <th>{{resultado.totalLitrosDeSopa | number:2 }} (Litros)</th>
                                        </tr>

                                    </tbody>
                                </table>
                            </uib-tab>
                            <uib-tab index="1" heading="Balanço Geral" select="resizeChart()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class='btn btn-danger pull-right' target="_blank" href="/ResultadosGerais/Balanco/{{start | date :'dd-MM-yyyy'}}/{{end  | date :'dd-MM-yyyy'}}"  ng-show="podeExibir">Gerar PDF</a>

                                    </div>
                                </div>
                                <div  ng-show="podeExibir">
                                    
                                        <div echart options="options" tema="'infographic'" style="height:500px;width:100%" api="api"></div>
                                    
                                </div>
                                <div ng-show="!podeExibir">
                                    <p>Nada para exibir</p>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                                

</div>
                    
                                       

                </div>

            </div>
        </div>
    </section>
</div>