<div ng-controller="ChartDoacoesPeriodoControl">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Gráfico</h2>
        </div>
    </div>
    
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <label>Início da consulta</label>
                <input type="date" ng-model="start" class="form-control " />
            </div>
            <div class="col-md-2">
                <label>Fim da consulta</label>
                <input type="date" ng-model="end" class="form-control " />
            </div>
            <div class="col-md-4">

                <a class='btn btn-danger pull-right' target="_blank" href="/Doacao/RelatorioDinheiro/{{start | date :'dd-MM-yyyy'}}/{{end  | date :'dd-MM-yyyy'}}" ng-show="podeExibir">Gerar PDF</a>
            </div>

        </div>
        <div  ng-show="podeExibir">
            <div echart options="options" tema="'infographic'" style="height:500px;"></div>
        </div>



    </div>