@model SistemaVidaNova.Models.AccountViewModels.UserViewModel
@{

    Layout = "_LayoutAdmin";
}


<section class="content-header">
    <h1>
        Editar Usuário
    </h1>

</section>
<section class="content" ng-controller="UserController" ng-init="cpf=@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cpf)">
    <div class="row">
        <div class="col-md-12">
            <div id="main" class="box box-warning">

                
                <form asp-controller="Account" asp-action="Editar" method="post" name="form" >

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="box-body">
                        
                        <div class="row">
                            <div class="col-xs-6">
                                <label asp-for="Nome"></label>
                                <div class="col-md-12">
                                    <input asp-for="Nome" class="form-control" placeholder="Nome"/>
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label asp-for="Email"></label>
                                <div class="col-md-12">
                                    <input asp-for="Email" class="form-control" placeholder="Email" disabled />

                                    
                                </div>
                            </div>
                            

                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <label asp-for="Cpf"></label>
                                <div class="col-md-12">                                    
                                    <input type="text" class="form-control" ng-model="cpf" required placeholder="Cpf"  ui-br-cpf-mask>
                                    <input type="hidden" name="Cpf" value="{{cpf}}" />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label asp-for="IsAdmin"></label>
                                <div class="col-md-12">
                                    @Html.CheckBoxFor(m => m.IsAdmin)
                                    
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <label asp-for="IsAtivo"></label>
                                <div class="col-md-12">
                                    @Html.CheckBoxFor(m => m.IsAtivo)
                                    
                                </div>
                            </div>


                        </div>
                        



                        <div class="box-footer">
                            <a asp-action="Index"  target="_self" class="btn btn-primary">voltar</a>
                            <button type="submit" class="btn btn-primary pull-right" >Salvar</button>
                        </div>
                    </div>


                </form>



            </div>
        </div>
    </div>
</section>

