@model SistemaVidaNova.Models.AccountViewModels.LoggedOutViewModel

@{

    Layout = "_LayoutAccount";
}
<div class="page-header">
    <h1>
        Saída do sistema
        
    </h1>
    <small>Você está fora do sistema</small>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Clique <a href="@Model.PostLogoutRedirectUri">aqui</a> para retornar
            
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe style="display:none" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
