@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using SistemaVidaNova.Models
@using Microsoft.AspNetCore.Identity
@model SistemaVidaNova.Models.AccountViewModels.LoginViewModel
@inject SignInManager<Usuario> SignInManager

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Log in";
}
<div class="page-signin container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-12  col-sm-6 col-sm-offset-3">
            <img alt="Sistema Vida Nova" class="col-md-12 col-xs-12 col-sm-12" src="~/images/logo.jpg" />
        </div>
    </div>
    <div class="form-container">

        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>Use sua conta para entrar</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
                </div>

                <div class="col-md-6 ">
                    <button type="submit" class="btn btn-default pull-right">Entrar</button>
                </div>
            </div>
                        
        </form>
    </div>
</div>
    

    
  

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
