
@model SistemaVidaNova.Models.AccountViewModels.RegisterViewModel
@{

    Layout = "_LayoutAdmin";
}


<section class="content-header">
    <h1>
        Editar Usuário
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div id="main" class="box box-warning">

                <form asp-controller="Account" asp-action="Register" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <label asp-for="Nome"></label>
                                <div class="col-md-12">
                                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label asp-for="Email"></label>
                                <div class="col-md-12">
                                    <input asp-for="Email" class="form-control" placeholder="Email"  />

                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <label asp-for="Cpf"></label>
                                <div class="col-md-12">
                                    <input asp-for="Cpf" class="form-control" placeholder="Cpf" ng-model="cpf" ui-br-cpf-mask/>

                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label asp-for="IsAdmin"></label>
                                <div class="col-md-12">
                                    @Html.CheckBoxFor(m => m.IsAdmin)

                                </div>
                            </div>

                            


                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <label asp-for="Password"></label>
                                <div class="col-md-12">
                                    <input asp-for="Password" class="form-control" placeholder="Senha" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label asp-for="ConfirmPassword"></label>
                                <div class="col-md-12">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Senha" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>


                        </div>




                        <div class="box-footer">
                            <a asp-action="Index" class="btn btn-primary">voltar</a>
                            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        </div>

                    </div>

</form>



        </div>
    </div>
    </div>
</section>


