
<div id="top" class="content-header">
    <div class="row">
        <div class="col-md-2">
            <h3 class="box-title">Planejamento</h3>
        </div>

        <div class="col-md-8">


            <label class="control-label">Modelo de Sopa</label>
            <div class="box box-solid ">

                <div class="box-header with-border bg-blue">
                    <div class="input-group">
                        <input type="text"
                               ng-model="itemSelected"
                               placeholder="Pesquise Modelo de Receita"
                               uib-typeahead="modelo as modelo.nome for modelo in getModelos($viewValue)"
                               typeahead-loading="loandingModelos"
                               typeahead-no-results="noResultsModelo"
                               class="form-control "
                               typeahead-editable="false"
                               typeahead-on-select="addModelo($item, $model, $label, $event)">

                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary" ng-click="addModelo()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                        <i ng-show="loandingModelos" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResultsModelo">
                            <i class="glyphicon glyphicon-remove"></i> Não encontrato
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row" ng-repeat="m in modelos">
                        <div class="form-group col-md-11">
                            <input type="text"
                                   ng-model="m.modelo.nome" class="form-control" disabled />
                        </div>
                        
                        <div class="col-md-1">
                            <a class="btn btn-danger btn-flat" href="" uib-popover="Remover Modelo" popover-trigger="'mouseenter'" ng-click="removerModelo(m)"><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <lista-erro lista="erros.Itens"></lista-erro>
          
        </div>
        
       


    </div>
    <div class="row">
        <div class="col-md-10">
            <input type="button" class="btn btn-primary pull-right" value="Vizualizar" ng-click="visualizar()" ng-disabled="modelos.length==0" />
        </div>
    </div>

</div>
<div class="row">


    <section class="content body">

        <div class="row">
            <div class="col-lg-12">

                <div style="height:500px;">
                    <div echart options="options" tema="'infographic'"></div>
                </div>
            </div>
        </div>
    </section>
</div>





