



<div id="top" class="content-header">
    <div class="col-md-3">
        <h3 class="box-title">Lista de Itens</h3>
    </div>
    <form ng-submit="pesquisar()">
        <div class="col-md-3">
            <div class="input-group h2">
                
                <select class="form-control"  placeholder="Pesquisar destino" ng-model="destinoPesquisa">
                    <option value="" disabled selected>Pesquisar Destino</option>
                    <option value=""  ></option>
                    <option ng-repeat="(key, value) in destinos" value="{{key}}">{{value}}</option>
                </select>

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                </span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="input-group h2">
                <input type="text" ng-model="valorPesquisa" name="pesquisar" class="form-control" id="exampleInputName2" placeholder="Pesquisar Item">

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                </span>
            </div>

        </div>
    </form>
    
        <div class="col-lg-2">
            <a href="/Item/Criar" class="btn btn-primary pull-right h2">Novo Item</a>
        </div>
    
</div>

<div id="list" class="row">


    <section class="content body">

        <div class="row">
            <div class="col-lg-12">
                <div class="box-body">

                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>

                                <th>Destino</th>
                                <th>Item</th>
                                <th>Unidade de Medida</th>
                                

                                <th class="actions">Ações</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr ng-repeat="v in itens">
                                <td>{{destinos[v.destino]}}</td>
                                <th >{{v.nome}}</th>                                
                                <td >{{unidadesDeMedida[v.unidadeDeMedida]}}</td>
                                <td class='actions'>

                                    <a class='btn btn-success btn-xs' href='/Item/Visualizar/{{v.id}}'>Visualizar</a>
                                    <a class='btn btn-warning btn-xs' href='/Item/Editar/{{v.id}}'>Editar</a>
                                    <a class='btn btn-danger btn-xs' href='' ng-click="delete(v)">Excluir</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                    <div class="col-lg-12">

                        <button type="button" class="btn btn-success pull-right h2" ng-click="ToExcel()">Importar para Excel</button>

                    </div>


                    <nav class="text-center">

                        <ul uib-pagination boundary-links="true" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    </nav>



                </div>
            </div>


        </div>
    </section>

</div>
