@using Microsoft.AspNetCore.Identity
@using SistemaVidaNova.Models
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{ 
    Usuario usuario =await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Pesquisar">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">Menu Principal</li>
                <li class="treeview">
                    <a href="/Informativo">
                        <i class="fa fa-envelope"></i> <span>Informativo</span>
                        
                    </a>                   
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-edit"></i> <span>Pessoas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Interessado"><i class="fa fa-circle-o"></i> Interessados</a></li>
                        <li><a href="/Voluntario"><i class="fa fa-circle-o"></i> Volutários</a></li>
                        <li><a href="/Doador"><i class="fa fa-circle-o"></i> Doadores</a></li>
                        <li><a href="/Favorecido"><i class="fa fa-circle-o"></i> Favorecidos</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="">
                        <i class="fa fa-university"></i> <span>Despesas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Item"><i class="fa fa-circle-o"></i> Itens</a></li>
                        <li><a href="/Despesa"><i class="fa fa-circle-o"></i> Despesas</a></li>
                        
                    </ul>
                </li>

                <li class="treeview">
                    <a href="/Doacao">
                        <i class="fa fa-gift"></i> <span>Doações</span>

                    </a>

                </li>
                <li class="treeview">
                    <a href="/Estoque">
                        <i class="fa fa-braille"></i> <span>Estoque</span>

                    </a>

                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-fire"></i> <span>Sopa</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/ModeloDeReceita"><i class="fa fa-circle-o"></i> Modelo de Receita</a></li>
                        <li><a href="/ResultadoSopa"><i class="fa fa-circle-o"></i> Resultado</a></li>
                        <li><a href="/Planejamento"><i class="fa fa-circle-o"></i> Planejamento</a></li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="/Evento">
                        <i class="fa fa-calendar-o"></i> <span>Eventos</span>
                        
                    </a>
                   
                </li>
                <li class="treeview">
                    <a href="/Evento/Calendario">
                        <i class="fa fa-calendar"></i> <span>Calendário</span>
                        
                    </a>
                    
                </li>
                @if (await UserManager.IsInRoleAsync(usuario, "Administrator"))
                {
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-users"></i> <span>Administração do sistema</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Account" target="_self"><i class="fa fa-circle-o"></i> Usuários</a></li>
                        
                    </ul>
                </li>
                }

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
}

