  <!-- Horizontal Form -->
<section class="content-header">
    <h1 ng-if="despesa.tipo==='FAVORECIDO'">
        Despesa de Favorecido
    </h1>
    <h1 ng-if="despesa.tipo==='SOPA'">
        Despesa de Favorecido
    </h1>
    <h1 ng-if="despesa.tipo==='ASSOCIACAO'">
        Despesa de Associação
    </h1>

</section>
<section class="content">
    
    <div class="row">
        <div class="col-md-11">
            <div id="main" class="box box-warning">

                <!-- formulario -->
                
                <form action="">
                    <div class="box-body">

                        <div class="row">
                            
                            <div class="col-md-4" ng-if="despesa.tipo==='FAVORECIDO'">
                                <p><strong>Favorecido:</strong></p>
                                <p>{{despesa.favorecido.nome}}</p>
                            </div>

                           



                            <div class="col-md-4">
                                <p><strong>Item:</strong></p>
                                <p>{{despesa.item.nome}}</p>
                            </div>



                            <div class="col-md-4">
                                <p><strong>Data da Compra:</strong></p>
                                <p>{{despesa.dataDaCompra| date :'dd/MM/yyyy'}}&nbsp;</p>
                            </div>

                            <div class="col-md-4">
                                <p><strong>Quantidade:</strong></p>
                                <p>{{despesa.quantidade| number : 2}}&nbsp;</p>
                            </div>

                            <div class="col-md-4">
                                <p><strong>Unidade de Medida:</strong></p>
                                <p>{{unidadesDeMedida[despesa.item.unidadeDeMedida]}}&nbsp;</p>
                            </div>

                            <div class="col-md-4">
                                <p><strong>Valor Unitário:</strong></p>
                                <p>{{despesa.valorUnitario| finance:true:2}}</p>
                            </div>


                            <div class="col-md-4">
                                <p><strong>Valor Total:</strong></p>
                                <p>{{despesa.valorUnitario*despesa.quantidade | finance:true:2}}</p>
                            </div>





                        </div>

                    </div>

                    <div class="box-footer">
                        <a href="/Despesa" class="btn btn-primary">voltar</a>
                        <a class='btn btn-danger' href=""> Gerar PDF</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>